
.link {
    background-color: #FFF;
    padding: 6px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    margin: 5px 0px;   
}

.link:hover {
    background-color: #8d6dfa;
    color: #FFF;
}
.link-selected {
    background-color: #173281;
    border: 2px solid #8d6dfa;
    color: #FFF;
}